<!DOCTYPE HTML>

<html>
	<head>
		<title>Scrum Master Toolbox</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Scrum <span>Toolbox</span></a></div>
				<a href="#menu">Menü</a>
			</header>