<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Startseite</a></li>
				<li><a href="allgemeines.html">Allgemeines</a></li>
				<ul class="links">
					<li><a href="moderationstechniken.html" >Moderationstechniken</a></li>
					<li><a href="meetingmanagement.html" >Meetingmanagement</a></li>
					<li><a href="teamentwicklung.html" >Teamentwicklung</a></li>
					<li><a href="gamification.html" >Gamification</a></li>
					<li><a href="konfliktmanagement.html" >Konfliktmanagement</a></li>
					<li><a href="metriken.html" >Metriken und Visualisierung</a></li>
				</ul>
				<li><a href="retro.html">Retrospektive</a></li>
				<ul class="links">
						<li><a href="intro.html" >Intro</a></li>
						<li><a href="datensammeln.html" >Daten sammeln</a></li>
						<li><a href="einsichtengewinnen.html" >Einsichten gewinnen</a></li>
						<li><a href="massnahmenbeschliessen.html" >Maßnahmen beschließen</a></li>
						<li><a href="abschluss.html" >Abschluss</a></li>
					</ul>
				<li><a href="sprintevents.html">Sprintevents</a></li>
				<ul class="links">
						<li><a href="daily.html" >Daily</a></li>
						<li><a href="sprintplanning.html" >Sprint Planning</a></li>
						<li><a href="sprintreview.html" >Sprint Review</a></li>
						<li><a href="refinement.html" >Refinement</a></li>
					</ul>
			</ul>
</nav>