{{> page/header }}

		<!-- Nav -->
		{{> page/navigation/sidebar }}


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Scrum Master Toolbox</h1>
						<p>Die Methodensammlung für <br />Scrum Master</p>
					</header>
					<a href="#main" class="button big scrolly">Mehr erfahren</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Dich erwarten..</h3>
										<p> ..auf dieser Website viele Methoden, die du als Scrum Master anwenden kannst. Unser Team arbeitet mit Hochdruck am Aufbau dieser Website und es wird eine immer wachsende Sammlung an Methoden sein.</p>
										<p> Wenn du Methoden hast, die hier noch fehlen kannst du mit uns ganz einfach Kontakt aufnehmen. Schreibe eine Mail an <a href="mailto:mail@scrumtoolbox.de">mail@scrumtoolbox.de</a> und wir werden sie, wenn gewünscht, unter deinem Namen veröffentlichen. </p>
										<a href="#" class="button">Mehr erfahren</a>
									</div>
								</div>
						</div>
					</section>
					
				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<header class="align-center">
								<h2>Hier findest du ...</h2>
								<p>...verschiedene Methoden, die du als Scrum Master einsetzten kannst.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p>Unter diesem Punkt findest du z. B. Methoden für Moderationstechniken, Gamification und Konfliktmanagement. </p>
									<a href="allgemeines.html" class="button">Mehr erfahren</a>
									
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic05.jpg" alt="" />
									</div>
									<p>Methoden für alle Phasen der Retrospektive werden hier beschrieben. </p>
									<a href="retro.html" class="button">Mehr erfahren</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic04.jpg" alt="" />
									</div>
									<p>Tipps fürs effektive Durchführen aller Sprintevents finden hier ihren Platz. </p>
									<a href="sprintevents.html" class="button">Mehr erfahren</a>
								</div>
							</div>
						</div>
					</section>

			</div>

{{> page/footer }}